<!DOCTYPE html>
{%- assign page_lang = page.lang | default: 'zh' -%}
{%- if page_lang == 'zh' -%}{%- assign html_lang = 'zh-Hant' -%}{%- else -%}{%- assign html_lang = page_lang -%}{%- endif -%}
<html lang="{{ html_lang }}">

{% include head.html %}

<body class="{% if page.url == '/' %}home-page{% endif %}">

  {% if site.data.settings.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">
  
    {% include header.html %}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->

    {% include footer.html %}
  </div>
  <!-- end global wrap -->

  <script defer src="{{ site.baseurl }}/js/scripts.js"></script>
  <script defer src="{{ site.baseurl }}/js/common.js"></script>
</body>

</html>